@import "../../../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";

mat-card {
    height: 100vh;
    color: white;
}

mat-list {
    color: palevioletred;
}



mat-card-header {
    font-size: xx-large;
    margin: 10px 0px 10px 0px;
}

.heading-divider {
    background-color: palevioletred;
    margin: 10px;
}

p {
    margin: auto;
}