<!-- <button mat-raised-button color="primary" (click)="getList()">Show List</button> -->
<mat-card>
    <mat-card-header>
        What is Secret Santa?
    </mat-card-header>
    <mat-divider class="heading-divider"></mat-divider>
    <mat-card-content>
        <p>
            Secret Santa is a Christmas tradition. Members of a group of friends, family, or coworkers draw random names
            to become
            someone’s Secret Santa. The Secret Santa is given a wish list of gift ideas to choose from to give to their
            chosen
            giftee. After opening their present, the giftee has to guess which member of the group was their Secret
            Santa. It’s a
            holiday classic where the guessing is as much a part of the fun as receiving the gift.
        </p>
        <p>
            Start a Secret Santa Gift Exchange
            While everyone seems to have some of their own rules when it comes to Secret Santa, the idea can be traced
            back to the
            Scandinavian tradition of knocking on someone’s door, throwing a present inside when it opens, then running
            away. They
            call this Juklapp, or “knocking Christmas.” Or, roots may trace back even further to German legends about
            St. Nick’s
            helpers, who doled out presents to good kids, but not to the bad, but one thing is for certain. The
            tradition continues
            to evolve over the years.
        </p>
        <p>
            Online Secret Santa games now offer a modern twist on a classic, letting anyone elf it up from anywhere
            around the
            world. It’s an update on a beloved game that expands the idea of who a Secret Santa can be: your little elf
            can be
            anyone from your neighbor down the street to a remote coworker on the other side of the world. But whether
            you’re
            playing a traditional Secret Santa exchange or an online one, there are rules to ensure mystery, merriment,
            and a little
            elvish magic.
        </p>
    </mat-card-content>
    <mat-card-header>
        How to play?
    </mat-card-header>
    <mat-divider class="heading-divider"></mat-divider>
    <mat-card-content>
        <p>
            Traditional Secret Santa rules, in essence, are pretty simple: no one knows who is getting whom a gift. But
            organizing a
            gift exchange with your friends, family, or coworkers can be a bit more complicated. Here are the steps for
            hosting a
            traditional Secret Santa game in-person:
        </p>
        <mat-list>
            <ol>
                <li>
                    <mat-list-item>
                        <div matLine style="word-wrap: break-word; white-space: pre-wrap;">
                            <p>
                                Write down each name on a piece of paper. Gather all the participants up and have them
                                scribble
                                their
                                names on a piece
                                of paper. Encourage legibility, otherwise you’ll have people buying gifts for “does that
                                say...Floger?
                                Smoged?” If it’s
                                hard to get them all in the same room, you can do this yourself after each person agrees
                                by
                                text
                                or
                                email to go full
                                elf.
                            </p>
                        </div>
                    </mat-list-item>
                </li>
                <mat-divider></mat-divider>
                <li>
                    <mat-list-item>
                        <p matLine style="word-wrap: break-word; white-space: pre-wrap;">
                            Have everyone write down a gift suggestion or two. Players can write down something specific
                            like
                            thick
                            red knee high
                            socks, or something pretty vague like “a book, please.” The more specific the better,
                            though, to
                            ensure
                            everyone gets
                            something they actually want.
                        </p>
                    </mat-list-item>
                </li>
                <mat-divider></mat-divider>

                <li>
                    <mat-list-item>
                        <div matLine style="word-wrap: break-word; white-space: pre-wrap;">
                            <p>
                                Draw names to randomly assign a Secret Santa to each player. This is the fun part; reach
                                into
                                the
                                hat
                                and find out whose
                                Christmas you’ll be making better! The host can also do this solo and email, call, or
                                text
                                the
                                other
                                players their
                                assigned name—just make sure you keep things straight with a top secret list of who’s
                                assigned
                                to
                                whom.
                                Not even Rudolph
                                can help you if you lose the master list!
                            </p>
                        </div>
                    </mat-list-item>
                </li>
                <mat-divider></mat-divider>

                <li>
                    <mat-list-item>
                        <div matLine style="word-wrap: break-word; white-space: pre-wrap;">
                            <p>
                                Plan a gift exchange party. Pick a day when everyone can get together, preferably before
                                people
                                leave
                                for their
                                Christmas vacations. Make sure each gift is tagged with the recipient’s name, but not
                                the
                                gifter’s!
                                Exchange gifts,
                                goodies, and holiday cheer to last all year.
                            </p>
                        </div>
                    </mat-list-item>
                </li>
                <mat-divider></mat-divider>

                <li>
                    <mat-list-item>
                        <div matLine style="word-wrap: break-word; white-space: pre-wrap;">
                            <p>
                                Guess who drew your name. Guessing who your sneaky Secret Santa is, and revealing your
                                own
                                elfy
                                nature
                                to the person you
                                gifted a present to, is the reindeer’s knees. Who got you the book for your next book
                                club
                                meeting?
                                Who
                                knows how much
                                you’ve been craving chocolate? Was it Allison? No? Then it must be...Allison? Wait, did
                                I
                                already
                                guess
                                that?
                            </p>
                        </div>
                    </mat-list-item>
                </li>
                <mat-divider></mat-divider>

            </ol>
        </mat-list>
    </mat-card-content>
    <mat-card-footer>
        Made in Angular and Spring
    </mat-card-footer>
</mat-card>